<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Intro</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>SparkWizards Backend Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/image.png}" alt="Java Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is the purpose of this project?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Share and connect with people on which classes you are taking!</li>
                            <li>We want to create this project for students to have ease in connecting with classmates</li>
                            <li>Students struggle to find friends and make connections in classes, which is what our creation helps eliminate</li>
                        </ol>
                    </p>
                    <a href="https://github.com/SparkWizards/spark" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/springjava.png}" alt="Spring Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How are we making this project</h5>
                    <p class="card-text">
                        <ol>
                            <li>We are using the implementation of a Spring Java Backend which involves multiple SQLite databases</li>
                            <li>We incorporated the use of user roles such as Admin, Teacher, and Student</li>
                            <li>We involve the use of API and API controllers in order for students to create accounts</li>
                        </ol>
                    </p>
                    <a href="https://github.com/SparkWizards/sparkwizbackend" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/scrum.png}" alt="Java Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How does our team work?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Our team works through the use of Scrum. Krishiv is the Scrum Master, Parav is the DevOps, and Shaurya is the developer</li>
                            <li>We all work together to make step-by-step improvements which is kept track of through a Scrum Board</li>
                            <li>We meet up weekly to log each other's progress and see how each member is doing on pace</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>